
.title {
    box-sizing: border-box;
    overflow: hidden;
    height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    z-index: 5;
    background: #202124;
    font-size: 22px;    
}

.title > div {
    display: inline-block;
    position: absolute;
    line-height: 55px;
    cursor: pointer;
}

.left {
    left: 0;
    padding-left: 20px;
    letter-spacing: 5px; 
}

.left:hover {
    background: rgba(255,255,255,.2);
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.center > img {
    width: 55px;
    vertical-align:  -20px;
}

.right {
    right: 0;
    padding-right: 20px;
}

.right img {
    width: 40px;
    transform: rotate(45deg) translateX(15px);
}